#Mandatory
HOME_COORDINATES=lat,lon
PLAYER_USERNAME=your_username
OSRM_PATH=routing/nsw_osm
#Optional - you can leave these out and we'll use defaults.
PAYPHONE_FILTER_RADIUS_M=8000
DISTANCE_BUDGET_METRES=7000
MAX_LEG_DISTANCE_METRES=1500
MAX_LATITUDE=-33.88282483313399
START_PAYPHONE_ID_OVERRIDE=1234
EXCLUDE_ALL_PAST_CAPTURES=false
EXCLUDE_PHONES_HELD_BY_CELL_MATES=true